/* Settings */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
}

.dropdown-box {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.visible {
  display: block;
}
.invisible {
  display: none;
}

.select-box.on {
  background-image: url(./imgs/icon-Triangle-up.png);
}

.select-box {
  width: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  padding: 11px 0 11px 12px;
  background: url(./imgs/icon-Triangle-down.png) right 14px center no-repeat;
  cursor: pointer;
  text-align: left;
  margin-bottom: 9px;
}

.select-box:hover {
  border: 1px solid #9b51e0;
  outline: 3px solid #f8e4ff;
  border-radius: 10px;
}

ul.language {
  /* width: 200px; */
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 3px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

li.lang {
  /* padding: 5px 0px 5px 0px; */
  padding: 12px 18px;
}
li.lang:hover {
  /* width: 184px; */
  padding: 7px 10px;
  background-color: #f8e4ff;
  border-radius: 8px;
  /* margin: 5px 8px; */
  margin: 5px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

li.lang button.li-btn {
  /* width: 44px; */
  /* padding: 7px 10px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
